{% extends 'base.html' %}
{% load static %}
{% block title %} 
   Product
{% endblock %}

{% block content %}
  <div class="container py-5">
   <div class="row mt-5">
      <div class="col-10 mx-auto col-md-6 my-3">
         <img src="{% static 'images/shorts.png' %}" alt="">
      </div>
   </div>
  </div>

  <div class="col-10 mx-auto col-md-6 my-3">
     <div>
        <h1 class="product_title">
          Shorts 
        </h1>
        <h5 class="text-info font-italic mb-4">
            9.99
         </h5>
        <p class="product_desc">Product Description</p>
        <p class="text-justify product_text"> Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Aliquid molestias accusamus dolorem ratione quaerat quos sunt, perspiciatis ad nulla est nemo quidem dignissimos sequi, vitae natus neque temporibus impedit dolorum?
        Natus, hic, quaerat. Quia, dignissimos? Tempora omnis natus ea necessitatibus fuga, optio debitis fugit, hic officiis, unde veniam repellendus, possimus sunt laudantium? Quis veritatis dicta repudiandae temporibus in porro consequatur!</p>
        <p class="text-justify product_text">Out Of Stock</p>
     </div>
  </div>
{% endblock %}